.description {
	text-align: center;
	position: relative;
}
.broom {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 12px;
	cursor: pointer;
}
.broom span {
	margin-left: 5px;
}
.icon {
	color: #00a7da;
	margin-top: 20px;
	cursor: pointer;
}
.icon:hover .tooltip {
	visibility: visible;
}
.tooltip {
	visibility: hidden;
}
.descriptionText {
	font-size: 24px;
	font-weight: 500;
	margin-top: 20px;
}
.btnWrapper {
	text-align: center;
}
.uploadBtn {
	font-size: 16px;
	font-weight: 400;
	color: white;
	background-color: #27ae61;
	padding: 8px 16px;
	border-radius: 3px;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}
