.wrapper {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.wrapper:hover {
	cursor: pointer;
}
.icon {
	color: #12c985;
}
.description {
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}
