.wrapper {
	position: relative;
	width: 110px;
	height: 110px;
	margin: 20px;
}
.image {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.deleteBtn {
	font-size: 12px;
	position: absolute;
	top: -8px;
	left: -6px;
	padding: 5px;
	border-radius: 50%;
	color: white;
	background-color: #333;
	cursor: pointer;
}
.editBtn {
	font-size: 12px;
	position: absolute;
	top: 20px;
	left: -6px;
	padding: 5px;
	border-radius: 50%;
	color: white;
	background-color: #333;
	cursor: pointer;
}
